<style>

@import url('https://fonts.googleapis.com/css?family=Barlow');

body{
	padding: 50px;
  background-color:#003471;
}
	#header{
  font-family: Barlow', sans-serif;
  color: #FBFFB0;
  padding-left: 30%;
}
.button{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  font-family:'Trebuchet MS', sans-serif;
  float: center;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.button{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

#container {
	max-width: 100px;
	min-width: 960px;
	position: relative;
  text-align:center;
	margin-top: 1.75em;
        margin-bottom: 2em;
        margin: auto;
	padding: 3em;
	border: 5px double #000000;
	border-color: #012148;
	background-color: #FBFFB0;
	font-family: Barlow, sans-serif;
}


</style>


<html>
 <div id="container">
<head>
  <img id="ralogo" src="https://cvshealth.com/sites/default/files/cvs-health-floating-hospital-logo-tile.png" alt="Medic Type" style="width:304px;height:228px">
		 	<br><br><br><br><br><br>
    <ul>
<div class=header>
  <a href="/Buscar/Historial" class="button">Historial Paciente</a>
  <a href="/Buscar/Citas" class="button">Citas Paciente</a>

</div>
    </ul>
<body>
<br><br><br>
    <h1>Busqueda</h1>

</div>



</body>
</html>
