<form action="/Horario/create" method="POST">
  <h2> Agregar Nuevo Bloque Horario Para <%= medico.nombre+" "+medico.apellido %></h2>

<hr>
  <input type="hidden" name="medico" value="<%-medico.id %>"/>
 <input type="radio" name="horario" value="Lunes 7-8"> Lunes 7-8
  <input type="radio" name="horario" value="Lunes 8-9"> Lunes 8-9
 <input type="radio" name="horario" value="Lunes 9-10"> Lunes 9-10
  <input type="radio" name="horario" value="Lunes 10-11"> Lunes 10-11
  <input type="radio" name="horario" value="Lunes 11-12"> Lunes 11-12
  <input type="radio" name="horario" value="Lunes 1-2"> Lunes 1-2
  <input type="radio" name="horario" value="Lunes 2-3"> Lunes 2-3
  <input type="radio" name="horario" value="Lunes 3-4"> Lunes 3-4
  <input type="radio" name="horario" value="Lunes 5-6"> Lunes 4-5<br />
  <hr>
  <input type="radio" name="horario" value="Martes 7-8"> Martes 7-8
  <input type="radio" name="horario" value="Martes 8-9"> Martes 8-9
  <input type="radio" name="horario" value="Martes 9-10"> Martes 9-10
  <input type="radio" name="horario" value="Martes 10-11"> Martes 10-11
  <input type="radio" name="horario" value="Martes 11-12"> Martes 11-12
  <input type="radio" name="horario" value="Martes 1-2"> Martes 1-2
  <input type="radio" name="horario" value="Martes 2-3"> Martes 2-3
  <input type="radio" name="horario" value="Martes 3-4"> Martes 3-4
  <input type="radio" name="horario" value="Martes 4-5"> Martes 4-5 <br />
  <hr>
  <input type="radio" name="horario" value="Miercoles 7-8"> Miercoles 7-8
  <input type="radio" name="horario" value="Miercoles 8-9"> Miercoles 8-9
  <input type="radio" name="horario" value="Miercoles 9-10"> Miercoles 9-10
  <input type="radio" name="horario" value="Miercoles 10-11"> Miercoles 10-11
  <input type="radio" name="horario" value="Miercoles 11-12"> Miercoles 11-12
  <input type="radio" name="horario" value="Miercoles 1-2"> Miercoles 1-2
  <input type="radio" name="horario" value="Miercoles 2-3"> Miercoles 2-3
  <input type="radio" name="horario" value="Miercoles 3-4"> Miercoles 3-4
  <input type="radio" name="horario" value="Miercoles 4-5"> Miercoles 4-5 <br />
  <hr>
  <input type="radio" name="horario" value="Jueves 7-8"> Jueves 7-8
  <input type="radio" name="horario" value="Jueves 8-9"> Jueves 8-9
  <input type="radio" name="horario" value="Jueves 9-10"> Jueves 9-10
  <input type="radio" name="horario" value="Jueves 10-11"> Jueves 10-11
  <input type="radio" name="horario" value="Jueves 11-12"> Jueves 11-12
  <input type="radio" name="horario" value="Jueves 1-2"> Jueves 1-2
  <input type="radio" name="horario" value="Jueves 2-3"> Jueves 2-3
  <input type="radio" name="horario" value="Jueves 3-4"> Jueves 3-4
  <input type="radio" name="horario" value="Jueves 4-5"> Jueves 4-5 <br />
  <hr>
  <input type="radio" name="horario" value="Viernes 7-8"> Viernes 7-8
  <input type="radio" name="horario" value="Viernes 8-9"> Viernes 8-9
  <input type="radio" name="horario" value="Viernes 9-10"> Viernes 9-10
  <input type="radio" name="horario" value="Viernes 10-11"> Viernes 10-11
  <input type="radio" name="horario" value="Viernes 11-12"> Viernes 11-12
  <input type="radio" name="horario" value="Viernes 1-2"> Viernes 1-2
  <input type="radio" name="horario" value="Viernes 2-3"> Viernes 2-3
  <input type="radio" name="horario" value="Viernes 3-4"> Viernes 3-4
  <input type="radio" name="horario" value="Viernes 4-5"> Viernes 4-5 <br />
  <hr>
  <input type="submit" value="Agregar Bloque Horario"/>

</form>
