<form action="/Cita/create" method="post">
  <h2> Crear Cita </h2>

  <input type="int" placeholder="Cedula Paciente" name="paciente"><br />
  <input type="int" placeholder="ID Medico" name="medico"><br />
  <input type="string" placeholder="Horario" name="horario"><br />

  <input type="submit" value="Registrar"/>
</form>
