<style>

@import url('https://fonts.googleapis.com/css?family=Barlow');

body{
	padding: 50px;
  background-color:#003471;
}
	#header{
  font-family: Barlow', sans-serif;
  color: #FBFFB0;
  padding-left: 30%;
}
.button{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  font-family:'Trebuchet MS', sans-serif;
  float: center;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.button{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

#container {
	max-width: 100px;
	min-width: 960px;
	position: relative;
  text-align:center;
	margin-top: 1.75em;
        margin-bottom: 2em;
        margin: auto;
	padding: 3em;
	border: 5px double #000000;
	border-color: #012148;
	background-color: #FBFFB0;
	font-family: Barlow, sans-serif;
}


</style>
<div id="container">
<form action="/Intervenciones/create" method="POST">
  <h2> Agregar Nueva Intervencion Para <%= paciente.nombre+" "+paciente.apellido %></h2>

 <input type="hidden" name="paciente" value="<%-paciente.id %>"/>
 <input type="radio" name="intervencion" value="traumatologia "> traumatologia
 <input type="radio" name="intervencion" value="transplante"> transplante
 <input type="radio" name="intervencion" value="neurocirugia"> neurocirugia
  <input type="radio" name="intervencion" value="cirugia plastica"> cirugia plastica

  <input type="submit" value="Agregar intervencion"/>

</form>
</div>
