<form action="/Paciente/create" method="post">
  <h2> Registrar Paciente </h2>

  <input type="int" placeholder="Cedula" name="cedula"><br />
  <input type="string" placeholder="Nombre" name="nombre"><br />
  <input type="string" placeholder="Apellido" name="apellido"><br />
  <input type="date" placeholder="Fecha de Nacimiento" name="fecha"><br />
  <input type="string" placeholder="Dirección" name="direccion"><br />
  <input type="submit" value="Registrar"/>
</form>
